@model IEnumerable<MVC5Demo.Models.Course>

@{
    ViewBag.Title = "CoursesBatchEdit";
}

<h2>CoursesBatchEdit</h2>

@if (TempData["CoursesBatchEditResult"] != null)
{
    <pre>@TempData["CoursesBatchEditResult"]</pre>
}

@using (Html.BeginForm())
{
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CourseID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Credits)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Department.Name)
            </th>
            <th></th>
        </tr>

        @{
            var data = Model.ToArray();
        }

        @for (int i = 0; i < data.Length; i++)
        {
            <tr>
                <td>
                    @Html.HiddenFor(modelItem => data[i].CourseID)
                    @Html.DisplayFor(modelItem => data[i].CourseID)
                </td>
                <td>
                    @* item.Title *@
                    @* data[0].Title *@
                    @if (ViewBag.IsEditMode == true)
                    {
                        @Html.EditorFor(modelItem => data[i].Title, new {htmlAttributes = new {@class = "form-control"}})
                        @Html.ValidationMessageFor(modelItem => data[i].Title, "", new {@class = "text-danger"})
                    }
                    else
                    {
                        @Html.DisplayFor(model => data[i].Title)
                    }


                </td>
                <td>
                    @if (ViewBag.IsEditMode == true)
                    {
                        @Html.EditorFor(modelItem => data[i].Credits, new {htmlAttributes = new {@class = "form-control"}})
                        @Html.ValidationMessageFor(modelItem => data[i].Credits, "", new {@class = "text-danger"})
                    }
                    else
                    {
                        @Html.DisplayFor(model => data[i].Credits)
                    }

                </td>
                <td>
                    @if (ViewBag.IsEditMode == true)
                    {
                   @Html.DropDownListFor(modelItem => data[i].DepartmentID,
                        new SelectList(ViewBag.DepartmentList, "DepartmentID", "Name", data[i].DepartmentID), htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => data[i].Credits, "", new { @class = "text-danger" })
                    }
                    else
                    {
                        @Html.DisplayFor(modelItem => data[i].Department.Name)
                    }


                </td>

            </tr>
        }



    </table>

    <input type="submit" value="批次更新"/>
}